*{
padding:0;
margin:0;
font-family: 'Poppins', sans-serif;
}

.container{
background-color : #191919ff;
padding:0;

}
.salute{
   height: 100vh;
   display :flex;
   align-items:center;
}

.saluteTextContainer{
flex:3;
margin-left:2vw;
}

.saluteImgContainer{
flex:1;


}
.saluteText{
color: AC7B7D;
font-size:25vw;
cursor:default;

}
.saluteText1{
    color: AC7B7D;
    font-size:4vw;
    margin-top: -8vw;
    margin-left:2vw;
    
    }
.saluteText2{
        color: AC7B7D;
        font-size:2vw;
        margin-left:2vw;
        
        }

.saluteImage{
width:95%;
margin-top:5vh;

}
a {
    text-decoration: none !important;
  }

.nameContainer{
 height :100vh;
 background-color: 785589;
 display:flex;
  align-items:center;
  justify-content:center;

}

.developerText{
 flex:3;
 font-size:10vw;
 color:#333;
 cursor:default;
 text-align:right;
 line-height:25vh;
 padding-top:10;
 text-decoration: none !important;
 padding-right:5vw;
    }
.developerText1{

  flex:3;
  font-size:10vw;
  color:#333;
  cursor:default;
  text-align:left;
  line-height:25vh;
  padding-top:10;
  text-decoration: none !important;
  padding-left:5vw;
}
.developerImage{
flex:1;
margin-left:5vw;
  
    }

.imagedev{
width:130%;
border-radius:5px
}
.column{
display:flex;
align-items:column;

}


.designer{
  height :100vh;
 background-color:#191919ff;
 display:flex;
  align-items:center;
  justify-content:center;

   }
   .developerImage2{
    flex:1;
    margin-right:11vw;
    ;  
        }

        