*{
padding:0;
margin:0;
font-family: 'Poppins', sans-serif;
}

.container{
background-color : #191919ff;
padding:0;

}
.salute{
   height: 100vh;
   display :flex;
   align-items:center;
}

.saluteTextContainer{
flex:3;
}

.saluteImgContainer{
flex:1;
}
.saluteText{
color: AC7B7D;
font-size:25vw;
cursor:default;

}
.saluteText1{
    color: AC7B7D;
    font-size:4vw;
    margin-top: -8vw;
    margin-left: 2vw;
    
    }
.saluteText2{
        color: AC7B7D;
        font-size:2vw;
        margin-left :2vw;
        
        }

.saluteImage{
width :100%;
}
a {
    text-decoration: none !important;
  }

.nameContainer{
 height :100vh;
 background-color: 785589;

}
.name{
 font-size:15vw;
 color:#333;
 cursor:default;
 text-align:center;
 line-height:30vh;
 padding-top:10;

   }