*{
padding:0;
margin:0;
font-family: 'Poppins', sans-serif;
}

.container{
background-color : #191919ff;
padding:0;

}
.salute{
   height: 100vh;
   display :flex;
   align-items:center;
}

.saluteTextContainer{
flex:3;
margin-left:2vw;
}

.saluteImgContainer{
flex:1;


}
.saluteText{
color: AC7B7D;
font-size:25vw;
cursor:default;

}
.saluteText1{
    color: AC7B7D;
    font-size:5vw;
    margin-top: -8vw;
    margin-left:2vw;
    
    }
.saluteText2{
        color: AC7B7D;
        font-size:3vw;
        margin-left:2vw;
        
        }
.saluteText3{
            color: AC7B7D;
            font-size:2vw;
            margin-left:2vw;
            animation: shake 0.5s ease infinite;
            
          }
          @keyframes shake {
            0% { transform: translateX(0); }
            25% { transform: translateX(-5px); }
            50% { transform: translateX(5px); }
            75% { transform: translateX(-5px); }
            100% { transform: translateX(0); }
          }          
     
.saluteImage{
width:95%;
margin-top:5vh;

}
a {
    text-decoration: none !important;
  }

.nameContainer{
 height :100vh;
 background-color: 785589;
 display:flex;
  align-items:center;
  justify-content:center;

}

.developerText{
 flex:3;
 font-size:10vw;
 color:#333;
 cursor:default;
 text-align:right;
 line-height:25vh;
 padding-top:10;
 text-decoration: none !important;
 padding-right:5vw;
    }
.developerText1{

  flex:3;
  font-size:10vw;
  color:#333;
  cursor:default;
  text-align:left;
  line-height:25vh;
  padding-top:10;
  text-decoration: none !important;
  padding-left:5vw;
}
.developerImage{
flex:1;
margin-left:5vw;
  
    }

.imagedev{
width:130%;
border-radius:5px
}
.column{
display:flex;
align-items:column;

}


.designer{
  height :100vh;
 background-color:#191919ff;
 display:flex;
  align-items:center;
  justify-content:center;

   }
   .developerImage2{
    flex:1;
    margin-right:11vw;
    ;  
        }
.nameContainer1{
          height :100vh;
          background-color: 86BBD8;
          display:flex;
           align-items:center;
           justify-content:center;
         
         }
.designer1{
    height :100vh;
    background-color:#977390ff;
    display:flex;
     align-items:center;
     justify-content:center;

  }
  .developerImage3{
    flex:1;
  margin-left:5vw;
   
        }

.developerImage4{
  flex:1;
  margin-right:11vw;
          
              }

              .projects {
                display: flex;
                flex-direction: column;
                gap: 30vh;
                padding: 0px 50px;
              }
              
              .projectsTitle {
                font-size: 8vw;
                color: #333;
              }
              
              .project {
                display: flex;
                align-items: center;
                gap: 100px;
                height: 100vh;
                overflow: hidden;
               
              }
              }
              
              .project:nth-child(2n) {
                flex-direction: row-reverse;
                
              }
              
              .phone {
                flex: 1;
                width: 305px;
                height: 600px;
                position: relative;
              }
              
              .phoneScreen {
                width: 195px;
                height: 415px;
                position: absolute;
                top: 42px;
                left: 155px;
                border-radius: 30px;
                overflow: scroll;
              }
              
              .phoneScreen::-webkit-scrollbar {
                display: none;
              }
              
              .phoneapp {
                width: 100%;
              }
              
              .projectDetail {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
              }
              
              .projectTitle {
                font-size: 7vw;
                color: #555;
              }
              
              .projectDesc {
                font-size: 20px;
                color: #555;
                text-align: justify;
                line-height: 40px;
              }
              
              .projectButton {
                padding: 10px 20px;
                background-color: transparent;
                border: 10px solid #555;
                color: #555;
                cursor: pointer;
                position: relative;
                overflow: hidden;
              }
              
              .projectButton::after {
                href:"https://www.figma.com/proto/TBUgjeXX6TARbRPVlUokWT/SOS-APP?type=design&node-id=3-15&t=DgzrubSoBX7kMMgK-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A3&mode=design";
                content: "View Demo";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -100%;
                transition: 1s all;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #555;
                color: white;
                
              }
              
              .projectButton:hover.projectButton::after {
                transform: translateX(100%);
              }
              
              .laptop {
                width: 600px;
                height: 379px;
                flex: 1;
                position: relative;
              }
              
              .laptopScreen {
                width: 585px;
                height: 370px;
                position: absolute;
                top: 18px;
                left: 82px;
                overflow: scroll;
                border-radius:10px 10px 0px 0px ;
              }
              
              .laptopApp {
                width: 100%;
              }
              
              .laptopScreen::-webkit-scrollbar {
                display: none;
              }
              .githubContainer {
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
              }
              
              .githubTitle {
                font-size: 100px;
                color: #333;
              }
              
              .githubChart {
                width: 820px;
                text-align: center;
              }
              
              .dates {
                padding: 10px;
                color: #c0c6c5;
                font-size: 12px;
                display: flex;
                justify-content: space-between;
              }
              
              .boxContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
              }
              
              .box {
                width: 15px;
                height: 15px;
                background-color: #c0c6c5;
                border-radius: 2px;
                cursor: pointer;
                transition: 3s all ease;
              }
              
              .active:nth-child(4n) {
                background-color: #36c45f;
              }
              
              .githubChart:hover .active:nth-child(2n+1){
                background-color: #21680d;
              }
              .githubChart:hover .active:nth-child(2n){
                background-color: #21680d;
              }
              
              .githubSm{
                display: none;
              }
              
              @media screen and (max-width:1024px) {
              
                .projects{
                  padding: 0 30px;
                  text-align: center;
                }
              
                .project{
                  flex-direction: column;
                  height: max-content;
                }
                .project:nth-child(2n){
                  flex-direction: column;
                }
              
                .phone,.laptop{
                  transform: none !important;
                }
                
                .githubChart{
                  display: none;
                }
              
                .githubTitle{
                  text-align: center;
                  font-size: 10vw;
                }
              
                .githubSm{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 20px;
                  color:#666362;
                  font-size: 30px;
                  text-align: center;
                }
              }
.githublink{

  text-align: center;
  font-size: 3vw;
  color:#666362;

}
